/**
 * Keith Smith
 * 30 July 2019
 *
 * Main style document, pulls in all other Component
 * Scss files and combines them to create one
 * main css file. You'll need to compile this file
 * to see changes in component scss files
 * on your development server. This is the only scss
 * file that the main App.js pulls in.
 *
 */


/* Component styling */
@import "./App.scss";
@import "../Header/Header.scss";
@import "../Hero/Hero.scss";
@import "../Speakers/Speaker.scss";
@import "../Speakers/Speakers.scss";
@import "../Details/DetailItem.scss";
@import "../Details/Details.scss";
@import "../Map/Map.scss";
@import "../Schedule/Schedule.scss";
@import "../Schedule/ScheduleItem.scss";
@import "../Banner1/Banner1.scss";
@import "../PurchaseOptions/PurchaseOptions.scss";
@import "../PurchaseOPtions/PurchaseOption.scss";
@import "../Sponsors/Sponsors.scss";
@import "../Faq/FAQ.scss";
@import "../Faq/Question.scss";
@import "../Footer/Footer.scss";

/* Fixed width sizes of main container */
.App {
  width: 1200px;
  margin: auto;
  @include breakpoint(desktop-small) {
    width: 980px;
  }
  @include breakpoint(tablet-landscape) {
    width: 750px;
  }
  @include breakpoint (tablet-portrait) {
    width: 500px;
  }
  @include breakpoint (phone-only) {
    width: 100%;
  }
}
